@charset "utf-8";


/* ---------------------------------------- */
/* ----------- UNIVERSAL SETUP ------------ */
/* ---------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {outline:none;}

html, body {
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}





/* ---------------------------------------- */
/* -------------- GRID LAYOUT ------------- */
/* ---------------------------------------- */
.major-flex-container,
.minor-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.major-flex-container {flex-direction: column;}

.minor-flex-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70rem;
  margin: 0 auto;
}

/* === Section Header === */
.section-header-container {padding: 4rem 0;}

.section-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  text-align: center;
}





/* ---------------------------------------- */
/* -------- REUSABLE UI COMPONENTS -------- */
/* ---------------------------------------- */
h1, h2, h3, h4, h5, h6, p, ul, li, section, div, span {
  margin: 0;
  padding: 0;
}



/* ----------| BACKGROUNDS |---------- */
.light-turquoise-gradient-background {
  background: rgb(41,161,156);
  background: 
    -o-linear-gradient(74deg, 
    rgba(41,161,156,1) 0%, 
    rgba(163,247,191,1) 100%);
  background: 
    linear-gradient(16deg, 
    rgba(41,161,156,1) 0%, 
    rgba(163,247,191,1) 100%);
}

.dark-charcoal-gradient-background {
  background: rgb(34,40,49);
  background: 
    -o-linear-gradient(74deg, 
    rgba(34,40,49,1) 0%, 
    rgba(57,62,70,1) 100%);
  background: 
    linear-gradient(16deg, 
    rgba(34,40,49,1) 0%, 
    rgba(57,62,70,1) 100%);
}

.turquoise-gradient-background {
  background: rgb(114,175,211);
  background: 
    -o-linear-gradient(45deg, 
    rgba(114,175,211,1) 0%, 
    rgba(55,236,186,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(114,175,211,1) 0%, 
    rgba(55,236,186,1) 100%);
}

.orange-gradient-background {
  background: rgb(253,160,133);
  background: 
    -o-linear-gradient(45deg, 
    rgba(253,160,133,1) 0%, 
    rgba(246,211,101,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(253,160,133,1) 0%, 
    rgba(246,211,101,1) 100%);
}

.pink-gradient-background {
  background: rgb(237,110,160);
  background: 
    -o-linear-gradient(45deg, 
    rgba(237,110,160,1) 0%, 
    rgba(236,140,105,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(237,110,160,1) 0%, 
    rgba(236,140,105,1) 100%);
}



/* ----------| TYPOGRAPHY |---------- */
/* +++++| Headings & Paragraphs |+++++ */
/* === Headings === */
h2, h3, h4, .niche {
  color: #393E46;
  font-weight: 500;
}

h2 {font-size: 1.953rem;}
h3, .niche {font-size: 1.563rem;}
h4 {font-size: 1.25rem;}

/* === Paragraphs === */
p.default-paragraph,
.default-paragraph {
  color: #8A929F;
  font-weight: 400;
  font-size: 1.1rem;
}

/* === Section Header === */
/* Section Title */
.section-title {
  margin-bottom: 4rem;
  color: #6CDEA1;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Section Heading */
.section-heading-lvl-2 {
  margin-bottom: 2rem;
  padding: 0 4rem;
}

/* Section Description */
.section-description {padding: 0 18rem;}

/* === Sub-Section Header === */
.subsection-header {
  justify-content: center;
  margin-bottom: 4rem;
  text-align: center;
}

/* Sub-Section Heading */
.subsection-heading-lvl-3 {padding: 0 14rem;}



/* ----------| LINKS & BUTTONS |---------- */
/* +++++| Links |+++++ */
a:link,
a:visited,
input[type=submit] {
  display: block;
  color: #FFFFFF;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

a:hover,
a:active {color: #FFFFFF;}


/* +++++| Buttons |+++++ */
/* === All Buttons === */
.button:link,
.button:visited,
input[type=submit] {
  display: inline-block;
  padding: 0.625rem 1.125rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  -webkit-transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  transition: background-color 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
}

.button:hover,
.button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* === Default Button === */
.default-button:link,
.default-button:visited {
  background-color: #FFFFFF;
  color: #393E46;
}

.default-button:hover,
.default-button:active {
  background-color: #393E46;
  color: #FFFFFF;
}

/* === Turquoise Gradient Button === */
.turquoise-gradient-button:link,
.turquoise-gradient-button:visited,
input[type=submit] {
  display: block;
  background: rgb(114,175,211);
  background: 
    -o-linear-gradient(45deg, 
    rgba(114,175,211,1) 0%, 
    rgba(55,236,186,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(114,175,211,1) 0%, 
    rgba(55,236,186,1) 100%);
  color: #FFFFFF;
}

/* === Orange Gradient Button === */
.orange-gradient-button:link,
.orange-gradient-button:visited {
  display: block;
  background: rgb(253,160,133);
  background: 
    -o-linear-gradient(45deg, 
    rgba(253,160,133,1) 0%, 
    rgba(246,211,101,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(253,160,133,1) 0%, 
    rgba(246,211,101,1) 100%);
  color: #FFFFFF;
}

/* === Pink Gradient Button === */
.pink-gradient-button:link,
.pink-gradient-button:visited {
  display: block;
  background: rgb(237,110,160);
  background: 
    -o-linear-gradient(45deg, 
    rgba(237,110,160,1) 0%, 
    rgba(236,140,105,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(237,110,160,1) 0%, 
    rgba(236,140,105,1) 100%);
  color: #FFFFFF;
}



/* ----------| ICONS |---------- */
.uil::before {margin: 0;}
.uil {display:inline-block;}





/* ---------------------------------------- */
/* --------------- SECTIONS --------------- */
/* ---------------------------------------- */
/* ----------| HEADER SECTION |---------- */
.header-section {
  position: relative;
  row-gap: 6.9rem;
  border-bottom: 1px solid #EAECF0;
}


/* +++++| Nav Bar Container |+++++ */
.nav-bar-container {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 1.2rem 0 1rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* === Logo === */
.logo-image,
.logo-image-dark {
  display: block;
  width: 6.25rem;
  height: auto;
}

.logo-image-dark {display: none;}

/* === Nav === */
/* Main Nav */
.main-nav ul {list-style-type: none;}

.main-nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

.main-nav ul li:last-child {margin-right: 0;}
.nav-link {padding-top: 0.15rem;}

.nav-link:link::after,
.nav-link:link::after {
  display: block;
  width: 0;
  height: 0.125rem;
  margin-top: 0.4rem;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: " ";
}

.nav-link:hover::after,
.nav-link:active::after {
  width: 99%;
  margin-left: auto;
  visibility: visible;
}

/* Sticky Nav */
.sticky-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.08);
          box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.08);
}

.sticky-nav .logo-image {display: none;}
.sticky-nav .logo-image-dark {display: block;}
.sticky-nav .mobile-nav-icon {color: #393E46;}

.sticky-nav .nav-link:link,
.sticky-nav .nav-link:visited {color: #393E46;}

.sticky-nav .nav-link:link::after,
.sticky-nav .nav-link:visited::after {background-color: #393E46;}

/* Mobile Nav */
.nav-bar-container-mobile {
  width: 100%;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.08);
          box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.08);
}

.nav-bar-container-mobile .logo-image {display: none;}
.nav-bar-container-mobile .logo-image-dark {display: block;}
.nav-bar-container-mobile .mobile-nav-icon {color: #393E46;}

.nav-bar-container-mobile .nav-link:link,
.nav-bar-container-mobile .nav-link:visited {color: #393E46;}

.nav-bar-container-mobile .nav-link:hover,
.nav-bar-container-mobile .nav-link:active {color: #8A929F;}

.mobile-nav-icon {
  display: none;
  cursor: pointer;
}


/* +++++| Header Content Container |+++++ */
.header-content-container {margin-top: 10rem;}

/* === Header Text === */
.header-text {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.header-text h1 {
  margin-bottom: 0.2rem;
  color: #FFFFFF;
  font-size: 3.815rem;
}

.header-text p {
  margin-bottom: 2rem;
  color: #FFFFFF;
  font-size: 1.5rem;
}

.learn-more-link:link,
.learn-more-link:visited {
  display: inline-block;
  margin-left: 1.65rem;
}

.learn-more-link:link span,
.learn-more-link:visited span {
  margin-right: 0.5rem;
  -webkit-transition: margin-right 0.3s;
  -o-transition: margin-right 0.3s;
  transition: margin-right 0.3s;
}

.learn-more-link:hover span,
.learn-more-link:active span {margin-right: 0.75rem;}

/* === Marketing Image === */
.marketing-image img {
  display: block;
  width: 40rem;
  height: auto;
  margin-left: auto;
}


/* +++++| Niches Container |+++++ */
.niches-container {
  padding: 3.7rem 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px -16px 16px 0px rgba(0,0,0,0.08);
          box-shadow: 0px -16px 16px 0px rgba(0,0,0,0.08);
}

/* === Niche === */
.niche {text-align: center;}



/* ----------| ABOUT US SECTION | PLATFORM |---------- */
/* +++++| Section Header Container |+++++ */
.about-us-platform-section .section-header-container {padding-bottom: 3.4rem;}

/* === Section Header === */
/* Section Heading */
.about-us-platform-section .section-heading-lvl-2 {margin-bottom: 0;}


/* +++++| Clients Container |+++++ */
.clients-container {padding-bottom: 4rem;}

/* === Office Image === */
.office-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 4.5rem;
  margin-left: 4rem;
}

.office-image img {
  display: block;
  height: auto;
}

/* === Clients Lists === */
.clients-lists {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  align-self: center;
}

/* Client List */
.client-list {margin-bottom: 2rem;}
.client-list:nth-child(2) {margin-bottom: 0rem;}
.client-list h3 {margin-bottom: 0.5rem;}
.client-list ul {list-style-type: none;}


/* +++++| Platform Features Lists Container |+++++ */
.platform-features-lists-container {padding-bottom: 4rem;}

/* === Platform Features Lists === */
.platform-features-lists {column-gap: 2rem;}

.platform-features-list {
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  flex-direction: column;
  row-gap: 2rem;
}

/* Platform Feature */
.platform-feature h4 {margin-bottom: 0.5rem;}



/* ----------| ABOUT US SECTION | VALUES |---------- */
.about-us-values-section {border-bottom: 1px solid #EAECF0;}

/* +++++| Social Lists Cards Container |+++++ */
.social-lists-cards-container {padding-bottom: 8rem;}

/* === Sub-Section Header === */
.social-lists-cards-container .subsection-header {margin-bottom: 3rem;}

/* === Glider Container === */
.glider-contain {
  display: flex;
  align-items: center;
  width: 78rem;
  margin: 0 auto;
}

.glider-track {
  display: flex;
  user-select: none;
  cursor: grab;
}

/* Arrow Buttons */
.glider-prev,
.glider-next {
  border: none;
  background-color: #FFFFFF;
}

.arrow-left button,
.arrow-right button {
  width: 3rem;
  height: 3rem;
}

.uil-arrow-circle-left,
.uil-arrow-circle-right {
  color: #8A929F;
  font-size: 3rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.uil-arrow-circle-left:hover,
.uil-arrow-circle-right:hover {color: #6CDEA1;}

/* Dots */
.glider-dots {
  display: flex;
  justify-content: center;
  column-gap: 0.25rem;
}

.glider-dot {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

.glider-dot.active {background: #6CDEA1;}
.glider-dot:hover {
  border: 2px solid #6CDEA1;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
}

/* === Social Lists Cards === */
.social-lists-cards {
  overflow-x: hidden;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 4px;
}

/* Social List Card */
.social-list-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 2rem;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
}

/* Social List Icon Section */
.social-list-icon-section {
  padding: 1.875rem 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.social-list-icon-section .uil {
  display: block;
  color: #FFFFFF;
  font-size: 4rem;
  text-align: center;
}

.social-list-icon-section.fb-card {
  background: rgb(59,89,152);
  background: 
    -o-linear-gradient(45deg, 
    rgba(59,89,152,1) 0%, 
    rgba(101,131,195,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(59,89,152,1) 0%, 
    rgba(101,131,195,1) 100%);
}

.social-list-icon-section.ig-card {
  background: rgb(63,114,155);
  background: 
    -o-linear-gradient(45deg, 
    rgba(63,114,155,1) 0%, 
    rgba(108,156,195,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(63,114,155,1) 0%, 
    rgba(108,156,195,1) 100%);
}

.social-list-icon-section.twitter-card {
  background: rgb(0,172,238);
  background: 
    -o-linear-gradient(45deg, 
    rgba(0,172,238,1) 0%, 
    rgba(102,213,255,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(0,172,238,1) 0%, 
    rgba(102,213,255,1) 100%);
}

.social-list-icon-section.yt-card {
  background: rgb(196,48,43);
  background: 
    -o-linear-gradient(45deg, 
    rgba(196,48,43,1) 0%, 
    rgba(218,93,88,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(196,48,43,1) 0%, 
    rgba(218,93,88,1) 100%);
}

.social-list-icon-section.linkedin-card {
  background: rgb(14,118,168);
  background: 
    -o-linear-gradient(45deg, 
    rgba(14,118,168,1) 0%, 
    rgba(19,162,231,1) 100%);
  background: 
    linear-gradient(45deg, 
    rgba(14,118,168,1) 0%, 
    rgba(19,162,231,1) 100%);
}

/* Social List Items Section */
.social-list-items-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 2rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

.social-list-item h4 {margin-bottom: 0.5rem;}


/* +++++| Values & Benefits Container |+++++ */
.values-container,
.benefits-container {padding-bottom: 8rem;}

/* === Values & Benefits Cards === */
.values-cards,
.benefits-cards {column-gap: 2rem;}

.value-card,
.benefit-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 4px;
  text-align: center;
}

.value-card h4,
.benefit-card h4 {margin-bottom: 1rem;}

.value-percentage {
  margin-bottom: 1rem;
  color: #6CDEA1;
  font-size: 3.052rem;
  font-weight: 600;
}

.benefit-card img {
  width: auto;
  height: 4rem;
  margin-bottom: 2rem;
}



/* ----------| PROCESS SECTION |---------- */
/* +++++| Section Header Container |+++++ */
/* === Section Header === */
/* Section Heading */
.process-section .section-heading-lvl-2 {margin-bottom: 0;}


/* +++++| Process Container |+++++ */
.process-container {padding-bottom: 8rem;}

/* === Process Image === */
.process-image {
  width: 40rem;
  height: 100%;
  margin: 0 auto;
}



/* ----------| PRICING SECTION |---------- */
.pricing-section {border-bottom: 1px solid #393E46;}


/* +++++| Section Header Container |+++++ */
/* === Section Header === */
/* Section Heading */
.pricing-section .section-heading-lvl-2 {color: #FFFFFF;}
.pricing-section .section-description {color: #EAECF0;}


/* +++++| Badges Container |+++++ */
.badges-container {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 4rem;
}

/* === Badge === */
.badge {
  display: flex;
  padding: 1.188rem 1rem 1.1rem;
  border-radius: 4px;
  background-color: #393E46;
}

/* Badge Image */
.badge img {
  display: block;
  float: left;
  width: 3.875rem;
  height: auto;
}

/* Badge Text */
.badge div {
  margin-left: 0.875rem;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
}

.badge div span {font-weight: 400;}


/* +++++| Pricing Lists Cards Container |+++++ */
.pricing-lists-cards-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 8rem;
  column-gap: 2rem;
}

/* === Pricing List Card === */
.pricing-list-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
  background-color: #FFFFFF;
}

/* Pricing List Name Section */
.pricing-list-name-section {
  padding: 2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #FFFFFF;
  font-size: 1.563rem;
  text-align: center;
}

.pricing-list-name {
  margin-bottom: 1rem;
  font-weight: 500;
}

.pricing-list-price {font-weight: 600;}

/* Pricing List Items Section */
.pricing-list-items-section {padding: 2rem;}
.pricing-list-items-section p strong {font-weight: 500;}

.pricing-list-items-separator {
  width: 14.5rem;
  height: 1px;
  margin: 1rem auto;
  background-color: #EAECF0;
}

/* Pricing List Button Section */
.pricing-list-button-section {padding: 0 2rem 2rem;}


/* +++++| Packages |+++++ */
/* === Sub-Section Header === */
/* Sub-Section Heading */
.packages .subsection-heading-lvl-3 {color: #FFFFFF;}

/* === Packages Cards Container === */
.packages-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "turquoise-1 orange-1 red-orange-1"
    "turquoise-2 orange-2 red-orange-2";
  gap: 2rem;
  padding-bottom: 8rem;
}

.package-card:nth-child(1) {grid-area: turquoise-1;}
.package-card:nth-child(2) {grid-area: turquoise-2;}
.package-card:nth-child(3) {grid-area: orange-1;}
.package-card:nth-child(4) {grid-area: orange-2;}
.package-card:nth-child(5) {grid-area: red-orange-1;}
.package-card:nth-child(6) {grid-area: red-orange-2;}

/* Package Card */
.package-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
}

/* Icon Section */
.icon-section {
  padding: 2rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.icon-section img {
  display: block;
  width: auto;
  height: 4rem;
  margin: 0 auto;
}

/* Package Description Section */
.package-description-section {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2rem;
  background-color: #FFFFFF;
  text-align: center;
}

.package-description-section h4 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.package-description-section p strong {font-weight: 500;}

/* Package Price Section */
.package-price-section {
  padding: 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #393E46;
  color: #FFFFFF;
  text-align: center;
}

.starting-from {
  margin-bottom: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
}

.package-price {
  font-size: 1.563rem;
  font-weight: 600;
  text-transform: uppercase;
}



/* ----------| CONTACT US SECTION |---------- */
/* +++++| Section Header Container |+++++ */
.contact-us-section .section-header-container {padding-bottom: 0;}


/* +++++| Contact Form Card Container |+++++ */
.contact-form-card-container {padding-bottom: 8rem;}

/* === Contact Form Card === */
.contact-form-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
          box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.16);
}

/* Form Info Section */
.form-info-section {
  width: 22rem;
  padding: 4rem 2rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-info-section .logo-image {margin-bottom: 15.688rem;}
.info-section-heading {margin-bottom: 1rem;}

.info-section-message {
  color: #FFFFFF;
  font-size: 1.953rem;
  font-weight: 500;
}

/* Form */
.contact-form {
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  flex-direction: column;
  row-gap: 2rem;
  padding: 4rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #FFFFFF;
}

.form-field label {
  display: block;
  margin-bottom: 1rem;
  color: #EAECF0;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.form-field input,
.form-field textarea {
  display: block;
  width: 100%;
  padding-bottom: 0.75rem;
  border: none;
  border-bottom: 2px solid #EAECF0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #393E46;
  font-size: 1.2rem;
  font-weight: 400;
}

.form-field textarea {
  padding-bottom: 8rem;
  resize: vertical;
}

.form-field input::-webkit-input-placeholder,
.form-field textarea::-webkit-input-placeholder {color: #8A929F;}

.form-field input::-moz-placeholder,
.form-field textarea::-moz-placeholder {color: #8A929F;}

.form-field input:-ms-input-placeholder,
.form-field textarea:-ms-input-placeholder {color: #8A929F;}

.form-field input::-ms-input-placeholder,
.form-field textarea::-ms-input-placeholder {color: #8A929F;}

.form-field input::placeholder,
.form-field textarea::placeholder {color: #8A929F;}

.form-field input:valid:focus,
.form-field textarea:valid:focus {border-color: #6CDEA1;}

.form-field input:invalid:focus,
.form-field textarea:invalid:focus {border-color: #ff4d4d;}

select {
  width: 100%;
  padding-bottom: 0.75rem;
  border: none;
  border-bottom: 2px solid #EAECF0;
  border-radius: 0;
  background-color: #FFFFFF;
  background-image: url(https://unicons.iconscout.com/release/v2.0.1/svg/line/direction.svg);
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: top right;
  color: #8A929F;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: left;
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance: none;
}

input[type=submit] {
  border: 0;
  cursor: pointer;
}



/* ----------| FOOTER SECTION |---------- */
/* +++++| Copyright Container |+++++ */
.copyright-container {
  justify-content: center;
  padding: 2rem 0;
}

/* === Copyright === */
.copyright {text-align: center;}





/* ---------------------------------------- */
/* ------------- MEDIA QUERIES ------------ */
/* ---------------------------------------- */
/* ----------| DESKTOPS: 1440PX |---------- */
@media only screen and (max-width: 1440px) {

  /* +++++| Grid Layout |+++++ */
  .minor-flex-container {width: 60.5rem;}


  /* +++++| Reusable UI Components |+++++ */
  /* === Typography === */
  /* Headings */
  h2 {font-size: 1.563rem;}
  h3, .niche {font-size: 1.25rem;}
  h4 {font-size: 1.12rem;}

  /* Paragraphs */
  p.default-paragraph,
  .default-paragraph {font-size: 1rem;}

  /* Section Header */
  .section-title {font-size: 1.1rem;}
  .section-description {padding: 0 8rem;}

  /* Sub-Section Header */
  .subsection-heading-lvl-3 {padding: 0 10rem;}

  /* === Links & Buttons === */
  a:link,
  a:visited,
  input[type=submit] {font-size: 1.1rem;}


  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Header Content Container */
  .header-text h1 {font-size: 3.052rem;}
  .header-text p {font-size: 1.3rem;}
  .marketing-image img {width: 32rem;}

  /* === About Us Section | Platform === */
  /* Clients Container */
  .office-image {margin-left: 0;}
  .office-image {margin-right: 3rem;}

  /* === About Us Section | Values === */
  .glider-contain {width: 68rem;}

  /* Arrow Buttons */
  .uil-arrow-circle-left,
  .uil-arrow-circle-right {font-size: 2.7rem;}

  /* Social List Icon Section */
  .social-list-icon-section .uil {font-size: 3.5rem;}

  /* Values & Benefits */
  .value-percentage {font-size: 2.8rem;}

  /* === Process Section === */
  /* Process Image */
  .process-image {width: 32rem;}

  /* === Pricing Section === */
  /* Pricing List Cards Container */
  .pricing-list-name-section {font-size: 1.375rem;}

  /* Packages Cards Container */
  .icon-section img {height: 3.5rem;}
  .starting-from {font-size: 0.937rem;}
  .package-price {font-size: 1.375rem;}

  /* === Contact Us Section === */
  .info-section-message {font-size: 1.75rem;}

  .form-field label,
  .form-field input,
  .form-field textarea,
  select {font-size: 1.1rem;}
}



/* ----------| TABLETS: 1160PX |---------- */
@media only screen and (max-width: 1160px) {

  /* +++++| Grid Layout |+++++ */
  .minor-flex-container {width: 50rem;}


  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Nav Bar Container */
  .nav-bar-container .minor-flex-container {
    width: 100%;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  /* Header Content Container */
  .marketing-image img {width: 25rem;}

  /* === About Us Section | Platform === */
  /* Clients Container */
  .office-image img {width: 100%;}

  /* === About Us Section | Values === */
  .glider-contain {width: 55.5rem;}

  /* === Pricing Section === */
  /* Pricing Lists Cards Container */
  .pricing-lists-cards-container {row-gap: 2rem;}

  /* Pricing List Card */
  .pricing-list-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }

  .list-items-section {padding: 2rem 4rem;}
}



/* ----------| TABLETS: 1023PX |---------- */
@media only screen and (max-width: 1023px) {

  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Nav Bar Container */
  /* Main Nav */
  .main-nav {
    display: none;
    width: 100%;
    margin-top: 0.5rem;
  }

  .main-nav ul li {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .main-nav ul li:last-child {margin-bottom: 0;}

  .nav-link:link::after,
  .nav-link:visited::after {display: none;}

  /* Main Nav Mobile */
  .main-nav-mobile {
    display: block;
    transition: all 0.3s;
  }
  
  /* Mobile Icon */
  .mobile-nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0.3rem;
    color: #FFFFFF;
    font-size: 1.953rem;
    line-height: 0;
  }

  /* === About Us Section | Platform === */
  /* Clients Container */
  .office-image {margin-right: 1.5rem;}
}



/* ----------| TABLETS: 989PX |---------- */
@media only screen and (max-width: 989px) {

  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Nav Bar Container */
  .nav-bar-container .minor-flex-container {
    width: 50rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  /* === About Us Section | Values === */
  .glider-contain {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}



/* ----------| TABLETS: 900PX |---------- */
@media only screen and (max-width: 900px) {

  /* +++++| Grid Layout |+++++ */
  .minor-flex-container {width: 37.5rem;}


  /* +++++| Reusable UI Components |+++++ */
  /* === Typography === */
  /* Headings */
  h2 {font-size: 1.375rem;}
  h3, .niche {font-size: 1.125rem;}

  /* Section Header */
  .section-title {font-size: 1rem;}
  .section-heading-lvl-2,
  .subsection-heading-lvl-3,
  .section-description {padding: 0;}


  /* +++++| Sections |+++++ */
  /* === Header Section === */
  .header-section {row-gap: 4.9rem;}

  /* Nav Bar Container */
  .nav-bar-container {padding: 1rem 2rem;}
  .nav-bar-container .minor-flex-container {width: 100%;}

  .logo-image,
  .logo-image-dark {width: 5.6rem;}

  .mobile-nav-icon {font-size: 1.6rem;}

  /* Header Content Container */
  .header-content-container {margin-top: 6rem;}

  .header-content-container .minor-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
  }

  .marketing-image img {
    margin: 0 auto;
    width: 75%;
  }

  /* === About Us Section | Platform === */
  /* Section Header Container */
  .about-us-platform-section .section-header-container {padding-bottom: 1.5rem;}

  /* Clients Container */
  .clients-container .minor-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .office-image {margin: 0;}

  /* Platform Features Lists */
  .platform-features-lists {
    flex-direction: column;
    row-gap: 2rem;
    text-align: center;
  }

  /* === About Us Section | Values === */
  /* Social Lists Cards Container */
  /* Glider Container */
  .glider-contain,
  .glider {width: 100%;}

  /* Arrow Buttons */
  .uil-arrow-circle-left,
  .uil-arrow-circle-right {font-size: 2.7rem;}

  /* Social Lists Cards */
  /* Social List Icon Section */
  .social-list-icon-section .uil {font-size: 3.5rem;}

  /* Values & Benefits Cards */
  .values-cards,
  .benefits-cards {gap: 2rem;}

  .value-card,
  .benefit-card {flex-basis: 47%;}

  .value-percentage {font-size: 2.8rem;}
  .benefit-card img {margin-bottom: 0.5rem;}

  /* === Process Section === */
  /* Process Image */
  .process-image {width: 75%;}

  /* === Pricing Section === */
  /* Badges Container */
  .badge img {width: 3rem;}
  .badge div {font-size: 1rem;}

  /* Packages Cards Container */
  .packages-cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "turquoise-1 turquoise-2"
      "orange-1 orange-2"
      "red-orange-1 red-orange-2";
  }

  /* === Contact Us Section === */
  /* Contact Form Card */
  .contact-form-card {flex-direction: column;}

  /* Form Info Section */
  .form-info-section {
    width: 100%;
    padding: 2rem;
    border-radius: 4px 4px 0 0;
  }

  .form-info-section .logo-image {margin-bottom: 4rem;}
  .info-section-message {font-size: 1.563rem;}

  /* Form */
  .contact-form {
    padding: 2rem;
    border-radius: 0 0 4px 4px;
  }

  .form-field label,
  .form-field input,
  .form-field textarea,
  select {font-size: 1rem;}
}



/* ----------| SMARTPHONES: 664PX |---------- */
@media only screen and (max-width: 664px) {

  /* +++++| Grid Layout |+++++ */
  .minor-flex-container {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }


  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Nav Bar Container */
  .nav-bar-container {padding: 1rem 2rem;}
  .nav-bar-container .minor-flex-container {width: 100%;}

  /* === About Us Section | Values === */
  /* Social Lists Cards Container */
  /* Glider Container */
  .glider {padding: 1rem;}

  /* Values & Benefits Cards */
  .value-card,
  .benefit-card {flex-basis: 100%;}

  .value-card h4,
  .benefit-card h4,
  .value-percentage {margin-bottom: 0.5rem;}

  /* === Pricing Section === */
  /* Packages Cards Container */
  .packages-cards-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "turquoise-1"
      "turquoise-2"
      "orange-1"
      "orange-2"
      "red-orange-1"
      "red-orange-2";
  }
}



/* ----------| SMARTPHONES: 500PX |---------- */
@media only screen and (max-width: 500px) {
  
  /* +++++| Grid Layout |+++++ */
  .minor-flex-container {
    padding-left: 2rem;
    padding-right: 2rem;
  }


  /* +++++| Sections |+++++ */
  /* === About Us Section | Values === */
  /* Social Lists Cards Container */
  /* Glider Container */
  .glider-contain {padding: 0 1rem;}
  .glider {padding: 1rem;}

  /* Arrow Buttons */
  .uil-arrow-circle-left,
  .uil-arrow-circle-right {font-size: 2rem;}

  /* === Pricing Section === */
  /* Badges Container */
  .badges-container {gap: 1rem;}
}



/* ----------| SMARTPHONES: 400PX |---------- */
@media only screen and (max-width: 400px) {

  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Header Content Container */
  .marketing-image img {width: 100%;}

  /* === About Us Section | Platform === */
  /* Clients Container */
  .office-image {width: 100%;}

  /* Niches Container */
  .niches-container .minor-flex-container {
    flex-direction: column;
    row-gap: 2rem;
  }

  /* === Process Section === */
  /* Process Image */
  .process-image {width: 100%;}
}



/* ----------| SMARTPHONES: 360PX |---------- */
@media only screen and (max-width: 360px) {

  /* +++++| Sections |+++++ */
  /* === Header Section === */
  /* Header Content Container */
  /* Header Text */
  .header-text p {font-size: 1.1rem;}

  .ctas {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  /* === Pricing Section & Contact Us Section === */
  .pricing-lists-cards-container,
  .packages-cards-container,
  .contact-form-card-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}